# Discord
CLIENT_ID=your_discord_client_id
TOKEN=your_discord_client_token

# MongoDB
MONGODB_URI=your_mongodb_uri

# Socials
YOUTUBE_API_KEY=your_youtube_api_key
TWITCH_CLIENT_ID=your_twitch_client_id
TWITCH_CLIENT_SECRET=your_twitch_client_secret
TWITCH_CALLBACK_URL=your_twitch_callback_url
KICK_CLIENT_ID=your_kick_client_id
KICK_CLIENT_SECRET=your_kick_client_secret
X_BEARER_TOKEN=your_x_bearer_token
TROVO_CLIENT_ID=your_trovo_client_id